@import url(https://fonts.googleapis.com/css?family=Clicker+Script:regular);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
  --bg-black-900: #f2f2f2;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
}

body {
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

::before,
::after {
  box-sizing: border-box;
}

.aside {
  width: 270px;
  background: var(--bg-black-100);
  position: fixed;
  left: 0;
  top: 0;
  padding: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.aside .logo {
  position: absolute;
  top: 50px;
  font-size: 30px;
  text-transform: capitalize;
}

.aside > .logo > a {
  color: var(--text-black-900);
  font-weight: 700;
  padding: 15px 20px;
  font-size: 30px;
  letter-spacing: 5px;
  position: relative;
}

.aside > .logo > a > span {
  font-family: 'Clicker Script', cursive;
  font-size: 40px;
}

ul {
  list-style: none;
}

.section {
  background: var(--bg-black-900);
  min-height: 100vh;
  display: block;
  position: fixed;
  left: 270px;
  top: 0;
  right: 0;
  z-index: 0;
  opacity: 1;
}
