* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  height: 800px;
  width: 400px;
  border-radius: 16px;
  overflow: hidden;
}

/* .box-one {
  display: none;
} */

.img {
  border-bottom: 1px solid black;
}

.content h1 {
  font-size: 20px;
  padding: 10px;
  margin-top: 5px;
}

.content p {
  font-size: 15px;
  padding: 10px;
  line-height: 1.9;
}

.start-page button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 170px;
  height: 70px;
  border-radius: 60px 0px 15px 0px;
  background-color: rgba(0, 0, 255, 0.349);
  color: black;
  cursor: pointer;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 100;
  line-height: 1.9;
}

.box-two h1 {
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid black;
  margin: 10px 0px;
  padding: 20px 0px;
  text-transform: capitalize;
}

.box-two {
  display: none;
}

.box-two ol {
  margin: 0px 0px 0px 40px;
  text-transform: capitalize;
}

.box-two ol li {
  font-size: 15px;
  font-weight: 300;
  padding: 25px 5px;
  line-height: 2;
}

.box-two .button button:first-child {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 170px;
  height: 70px;
  border-radius: 0px 60px 0px 0px;
  background-color: rgba(0, 0, 255, 0.349);
  color: black;
  cursor: pointer;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 100;
  line-height: 1.9;
}

.box-two .button button:last-child {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 170px;
  height: 70px;
  border-radius: 60px 0px 0px 0px;
  background-color: rgba(0, 0, 255, 0.349);
  color: black;
  cursor: pointer;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 100;
  line-height: 1.9;
}
