:root {
  --text-white: #ffffff;
  --text-black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  padding: 30px 0px 30px 0px;
}
.navbar .container:first-child {
  display: flex;
  justify-content: space-around;
}
.navbar .container:first-child .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .container:first-child .row .navbar-item a {
  padding: 0px 30px;
  color: var(--text-white);
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  position: relative;
}
.navbar .container:first-child .row .navbar-item a p {
  display: inline-block;
}
.navbar .container:first-child .row .navbar-item a ul {
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 30px;
  border: 1px solid var(--text-white);
  border-radius: 12px;
}
.navbar .container:first-child .row .navbar-item a ul li {
  font: normal normal 300 14px/21px "Poppins";
  list-style: none;
  padding: 5px 5px;
}
.navbar .container:first-child .row .navbar-button button {
  padding: 15px 30px;
  background-color: transparent;
  border: 1px solid var(--text-white);
  color: var(--text-white);
  font: normal normal 300 14px/21px "Poppins";
  border-radius: 12px;
  cursor: pointer;
}
.navbar .container:last-child {
  margin: 400px 0px;
}
.navbar .container:last-child .row:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar .container:last-child .row:nth-child(1) h1 {
  color: var(--text-white);
  font: normal normal 700 72px/78px "Poppins";
  text-align: center;
}
.navbar .container:last-child .row:nth-child(1) h6 {
  color: var(--text-white);
  padding: 20px 0px;
  font: normal normal 300 18px/28px "Poppins";
  text-align: center;
}
.navbar .container:last-child .row:nth-child(2) .input-field {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}
.navbar .container:last-child .row:nth-child(2) .input-field input {
  padding: 30px 60px;
  border-radius: 12px;
}
.navbar .container:last-child .row:nth-child(2) .input-field input::-moz-placeholder {
  font: normal normal 300 13px/28px "Poppins";
}
.navbar .container:last-child .row:nth-child(2) .input-field input::placeholder {
  font: normal normal 300 13px/28px "Poppins";
}
.navbar .container:last-child .row:nth-child(2) .input-field i {
  z-index: 1;
  margin-right: -35px;
  color: var(--text-black);
  opacity: 0.5;
}
.navbar .container:last-child .row:nth-child(2) .input-field .search-button {
  padding-left: 10px;
}
.navbar .container:last-child .row:nth-child(2) .input-field .search-button button {
  padding: 24px 40px;
  border-radius: 12px;
  background-color: rgb(99, 99, 204);
  font: normal normal 18px/28px "Poppins";
  color: var(--text-white);
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */