:root {
  --text-white: #ffffff;
  --text-black: #000000;
  --text-black-one: #1e2a39;
  --text-black-two: #5c6272;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  overflow-x: hidden;
}

.navbar {
  padding: 30px 0px 30px 0px;
}
.navbar .container:first-child {
  display: flex;
  justify-content: space-around;
}
.navbar .container:first-child .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .container:first-child .row .navbar-item a {
  padding: 0px 30px;
  color: var(--text-white);
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  position: relative;
}
.navbar .container:first-child .row .navbar-item a p {
  display: inline-block;
}
.navbar .container:first-child .row .navbar-item a ul {
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 30px;
  border: 1px solid var(--text-white);
  border-radius: 12px;
}
.navbar .container:first-child .row .navbar-item a ul li {
  font: normal normal 300 14px/21px "Poppins";
  list-style: none;
  padding: 5px 5px;
}
.navbar .container:first-child .row .navbar-button button {
  padding: 15px 30px;
  background-color: transparent;
  border: 1px solid var(--text-white);
  color: var(--text-white);
  font: normal normal 300 14px/21px "Poppins";
  border-radius: 12px;
  cursor: pointer;
}
.navbar .container:last-child {
  margin: 400px 0px;
}
.navbar .container:last-child .row:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar .container:last-child .row:nth-child(1) h1 {
  color: var(--text-white);
  font: normal normal 700 72px/78px "Poppins";
  text-align: center;
}
.navbar .container:last-child .row:nth-child(1) h6 {
  color: var(--text-white);
  padding: 20px 0px;
  font: normal normal 300 18px/28px "Poppins";
  text-align: center;
}
.navbar .container:last-child .row:nth-child(2) .input-field {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}
.navbar .container:last-child .row:nth-child(2) .input-field input {
  padding: 30px 60px;
  border-radius: 12px;
}
.navbar .container:last-child .row:nth-child(2) .input-field input::-moz-placeholder {
  font: normal normal 300 13px/28px "Poppins";
}
.navbar .container:last-child .row:nth-child(2) .input-field input::placeholder {
  font: normal normal 300 13px/28px "Poppins";
}
.navbar .container:last-child .row:nth-child(2) .input-field i {
  z-index: 1;
  margin-right: -35px;
  color: var(--text-black);
  opacity: 0.5;
}
.navbar .container:last-child .row:nth-child(2) .input-field .search-button {
  padding-left: 10px;
}
.navbar .container:last-child .row:nth-child(2) .input-field .search-button button {
  padding: 24px 40px;
  border-radius: 12px;
  background-color: rgb(99, 99, 204);
  font: normal normal 18px/28px "Poppins";
  color: var(--text-white);
  cursor: pointer;
}

.provide-section .container .row:nth-child(1) {
  margin: 100px 0px;
}
.provide-section .container .row:nth-child(1) .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.provide-section .container .row:nth-child(1) .header h1 {
  color: var(--text-black-one);
  font: normal normal 700 45px/58px "Poppins";
}
.provide-section .container .row:nth-child(1) .header p {
  margin: 20px 0px;
  color: var(--text-black-two);
  font: normal normal 400 16px/28px "Poppins";
  text-align: center;
}
.provide-section .container .row:nth-child(2) {
  margin: 100px 0px;
}
.provide-section .container .row:nth-child(2) .header-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.provide-section .container .row:nth-child(2) .header-item .item {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 10px 50px 100px 30px;
  border-radius: 12px;
}
.provide-section .container .row:nth-child(2) .header-item .item .icon {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: 30px 0px;
  display: inline-block;
  padding: 20px;
  border-radius: 12px;
}
.provide-section .container .row:nth-child(2) .header-item .item .details h3 {
  margin-top: 20px;
  font: normal normal 600 24px/36px "Poppins";
  color: var(--text-black-one);
}
.provide-section .container .row:nth-child(2) .header-item .item .details p {
  font: normal normal 400 16px/26px "Poppins";
  color: var(--text-black-two);
}

.about-section {
  margin: 300px 0px;
}
.about-section .container .row:nth-child(1) .header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about-section .container .row:nth-child(1) .header h1 {
  font: normal normal 700 40px/52px "Poppins";
  position: relative;
  color: var(--text-black-one);
}
.about-section .container .row:nth-child(1) .header h1::before {
  content: "ABOUT US";
  position: absolute;
  top: -35px;
  left: 0px;
  color: #4141a5;
  font: normal normal 600 16px/24px "Poppins";
}
.about-section .container .row:nth-child(1) .header p {
  color: var(--text-black-two);
  font: normal normal 400 16px/28px "Poppins";
}
.about-section .container .row:nth-child(2) .about-slider {
  display: flex;
  justify-content: left;
  align-items: top;
  gap: 30px;
  transition: all 0.4s ease;
}
.about-section .container .row:nth-child(2) .about-slider .item:first-child {
  margin-left: 250px;
}
.about-section .container .row:nth-child(2) .about-slider .item {
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.about-section .container .row:nth-child(2) .about-slider .item .details {
  padding: 70px 30px;
}
.about-section .container .row:nth-child(2) .about-slider .item .details h1 {
  font: normal normal 600 30px/45px "Poppins";
}
.about-section .container .row:nth-child(2) .about-slider .item .details p {
  font: normal normal 400 16px/28px "Poppins";
}
.about-section .container .row:nth-child(2) .slider-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 50px;
}
.about-section .container .row:nth-child(2) .slider-icon i {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 30px 30px;
  color: var(--text-black-one);
  border-radius: 50%;
  cursor: pointer;
}

.featured-section .container {
  margin: 50px 50px;
}
.featured-section .container .row:nth-child(1) .featured-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.featured-section .container .row:nth-child(1) .featured-header h1 {
  font: normal normal 700 45px/58px "Poppins";
  color: var(--text-black-one);
}
.featured-section .container .row:nth-child(1) .featured-header p {
  padding: 20px 0px;
  font: normal normal 400 16px/28px "Poppins";
  color: var(--text-black-two);
  text-align: center;
}
.featured-section .container .row:nth-child(2) {
  margin: 100px 0px;
}
.featured-section .container .row:nth-child(2) .featured-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.featured-section .container .row:nth-child(2) .featured-item .item {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 30px 20px;
  border-radius: 12px;
}
.featured-section .container .row:nth-child(2) .featured-item .item .img {
  width: 100%;
  height: 100%;
}
.featured-section .container .row:nth-child(2) .featured-item .item .img img {
  background-size: cover;
  background-repeat: no-repeat;
}
.featured-section .container .row:nth-child(2) .featured-item .item h3 {
  padding: 20px 0px;
  color: var(--text-black-one);
  font: normal normal 600 24px/24px "Poppins";
}
.featured-section .container .row:nth-child(2) .featured-item .item .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.featured-section .container .row:nth-child(2) .featured-item .item .details .icon {
  display: flex;
  gap: 10px;
}
.featured-section .container .row:nth-child(2) .featured-item .item .details .icon i {
  color: var(--text-black-two);
}
.featured-section .container .row:nth-child(2) .featured-item .item .details .icon p {
  color: var(--text-black-two);
  font: norma normal 500 16px/16px "Poppins";
}
.featured-section .container .row:nth-child(2) .featured-item .item .details p {
  color: #ee6d52;
  font: normal normal 600 16px/16px "Poppins";
}/*# sourceMappingURL=style.css.map */