* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  display: grid;
  place-items: center;
  height: 100vh;
}
.box {
  width: 40vw;
  height: 70vh;
  background-color: aquamarine;
  border: 2px solid black;
  border-radius: 12px;
  text-align: center;
  overflow-y: scroll;
  overflow-x: scroll;
}

.box::-webkit-scrollbar {
  width: 0;
}

.box h1 {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 35px;
  margin: 20px 0px;
}

.add-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 370px;
  padding: 10px 10px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 10px;
  background-color: white;
  font-weight: 500;
}

.add-task > i {
  cursor: pointer;
}

.form > h5 {
  font-weight: 500;
  text-transform: capitalize;
  margin: 30px 0px;
}

.tasks {
  display: flex;
  flex-direction: column;
}

.task {
  font-size: 20px;
  background-color: white;
  border: 1px solid black;
  margin: 10px 10px;
  padding: 10px 10px;
  text-align: left;
  text-transform: capitalize;
  font-weight: 400;
  border-radius: 12px;
}

.task > p:nth-child(3) {
  color: rgba(0, 0, 0, 0.521);
}

.task > .icon {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 10px 10px;
}

.icon > i {
  cursor: pointer;
}

.display {
  display: flex;
  justify-content: space-between;
}

.text-msg,
.email-msg,
.date-msg,
.desc-msg {
  color: red;
  display: flex;
}
