.main-container {
  background-image: url(Img/image.jpg);
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.list-item {
  display: none !important;
}

.list-item.active {
  display: block !important;
}
